.cheacktest {
	list-style-type:none;
	margin:0px 0px 0px 2px;
	padding:0px;
}

.cheacktest li{
	padding:17px 0px 0px 60px;
	background:url(img/cheacktest/checkButton_x.png) no-repeat 0 0;
	width:290px;
	height:33px;
	cursor:pointer;
	color:#333;
}

.cheacktest li:hover{
	background-position:0px -50px;
}

.cheacktest li.selected{
	background-position:0px -100px;
	cursor:default;
}
