.business h3{
width:670px;
margin:0 0 5px 0;
padding:8px 10px;
background: #f75f5f;
color:#FFF;
border-radius:5px;
}

.stage{
width:1000px;
}

#stepup{
float:left;
width:340px;
margin:5px 10px 10px 0px;
background-color:#2db0e7;
border-radius:5px;
}

#expert{
float:left;
width:340px;
margin:5px 10px 10px 0px;
background-color:#fbb112;
border-radius:5px;
}

#cragtsman{
float:left;
width:340px;
margin:5px 10px 10px 0px;
background-color:#4bb7a5;
border-radius:5px;
}

#private{
float:left;
width:340px;
margin:5px 10px 10px 0px;
background-color:#f75f5f;
border-radius:5px;
}

#stepcontents{
width:320px;
height:310px;
margin:0px 0px 0px 10px;
background-color: #fff;
background-image:url(img/qury/step2.png);
}

#shigyocontents{
width:320px;
height:310px;
margin:0px 0px 0px 10px;
background-color: #fff;
background-image:url(img/qury/sigyou.png);
}

#excontents{
width:320px;
height:310px;
margin:0px 0px 0px 10px;
background-color: #fff;
background-image:url(img/qury/ex.png);
}

#prvcontents{
width:320px;
height:310px;
margin:0px 0px 0px 10px;
background-color: #fff;
background-image:url(img/qury/pr.png);
}

.stage h3{
margin:0px;
padding:10px 0px 10px 20px;
color:#fff;
font-weight:bold;
font-size:24px;
}

.bunkei ul{
display:block;
padding:0px;
margin:5px 0px 0px 0px;
width:160px;
float:left;

}

.bunkei ul li{
padding:8px 0px 0px 10px;
list-style-type: none;
font-size:13px;
}

.explain h4{
margin:10px 10px 5px 10px;
font-size:14px;
color:#fff;
}

.explain p{
margin:5px 10px 5px 10px;
font-size:11px;
color:#fff;
}

/* サイドバー 
.step h3{
width:290px;
margin:0 0 5px 0;
padding:8px 10px;
background: #4bb7a5;
color:#FFF;
border-radius:5px;
}

#aside ul{
padding-left: 10px;
}

#aside ul img{
width:32px;
vertical-align:-9px;
}

#aside ul li{
list-style-type: none;
margin-bottom:10px;
font-size:18px;
font-weight: bold
}
*/
